{% extends 'RUser/Header.html' %}
{% block userblock %}


<link rel="icon" href="images/icon.png" type="image/x-icon" />

	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">



		<style>
			body {background-color:#000000;}
			.container-fluid {padding:50px;}
			.container{background-color:white;padding:50px;   }
			#title{font-family: 'Fredoka One', cursive;
}
			.text-uppercase{
			font-family: 'Righteous', cursive;

			}
			.tweettext{

    border: 2px solid yellowgreen;
    width: 904px;
    height: 202px;
    overflow: scroll;
    background-color:;
}
		.style1 {
	color: #FF0000;
	font-weight: bold;
}
.style4 {color: #FFFF00; font-weight: bold; }
.style6 {
	font-size: 24px;
	color: #FFFF00;
	font-weight: bold;
}
        .style7 {color: #FFFF00}
        </style>

	<body>
	<div class="container-fluid">
		<div class="container">

			<div class="row">
				<div class="col-md-5">

                   <form role="form" method="POST" >
						{% csrf_token %}
						<fieldset>
							<p class="text-uppercase pull-center style1">Prediction Of Ad Click Fraud Detection Type !!! </p>
                            <hr>

                                {% csrf_token %}
                                <table width="1023" align="center">
                                  <tr>
                                    <td height="44" colspan="4" bgcolor="#FF0000"><div align="center" class="style4">ENTER DATASETS DETAILS HERE !!! </div></td>
                                  </tr>
                                  <tr>
                                    <td height="44" colspan="4" bgcolor="#FF0000"><div align="center"></div></td>
                                  </tr>
                                  <tr>
                                    <td width="289" height="44" bgcolor="#FF0000"><div align="center"><span class="style7 style2 style4"><strong>Enter</strong></span> <span class="style4">Fid</span></div></td>
                                    <td width="209"><input type="text" name="Fid"></td>
                                    <td width="331" bgcolor="#FF0000"><div align="center"><span class="style7 style2 style4"><strong>Enter</strong></span> <span class="style4">IPAddress</span></div></td>
                                    <td width="174"><input type="text" name="IPAddress"></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center"><span class="style7 style2 style4"><strong>Enter</strong></span> <span class="style4">App_Name</span></div></td>
                                    <td><input type="text" name="App_Name"></td>
                                    <td bgcolor="#FF0000"><div align="center"><span class="style7 style2 style4"><strong>Enter </strong></span><span class="style4">Device</span></div></td>
                                    <td><input type="text" name="Device"></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center"><span class="style7 style2 style4"><strong>Enter</strong></span> <span class="style4">OS</span></div></td>
                                    <td><input type="text" name="OS"></td>
                                    <td bgcolor="#FF0000"><div align="center"><span class="style7 style2 style4"><strong>Enter</strong></span> <span class="style4">Channel</span></div></td>
                                    <td><input type="text" name="Channel"></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center"><span class="style7 style2 style4"><strong>Enter</strong></span> <span class="style4">Click_time</span></div></td>
                                    <td><input type="text" name="Click_time"></td>
                                    <td bgcolor="#FF0000"><div align="center"><span class="style7 style2 style4"><strong>Enter</strong></span> <span class="style4">Time_to_click</span></div></td>
                                    <td><input type="text" name="Time_to_click"></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center"><span class="style7 style2 style4"><strong>Enter</strong></span> <span class="style4">Session_duration</span></div></td>
                                    <td><input type="text" name="Session_duration"></td>
                                    <td bgcolor="#FF0000"><div align="center"><span class="style7 style2 style4"><strong>Enter Mouse_movement</strong></span></div></td>
                                    <td><input type="text" name="Mouse_movement"></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center"><span class="style7 style2 style4"><strong>Enter</strong></span> <span class="style4">IP_frequency</span></div></td>
                                    <td><input type="text" name="IP_frequency"></td>
                                    <td bgcolor="#FF0000"><div align="center"><span class="style7 style2 style4"><strong>Enter</strong></span> <span class="style4">Referrer_missing</span></div></td>
                                    <td><input type="text" name="Referrer_missing"></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center" class="style4"><strong>Enter</strong> Scroll_depth</div></td>
                                    <td><input type="text" name="Scroll_depth"></td>
                                    <td bgcolor="#FF0000"><div align="center" class="style4"><strong>Enter</strong> Time_on_page</div></td>
                                    <td bgcolor="#FFFFFF"><input type="text" name="Time_on_page"></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FFFFFF">&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td bgcolor="#FFFFFF"><div align="center">
                                      <input name="submit" type="submit" class="style1" value="Predict">
                                    </div></td>
                                    <td bgcolor="#FFFFFF">&nbsp;</td>
                                  </tr>
                                </table>
					 </fieldset>
				  </form>


 					<form role="form" method="POST" >
						{% csrf_token %}
						<fieldset>

                            <hr>
                            <div>
                              <table width="772" height="75" border="0" align="center" >
                                    <tr><td width="481" bgcolor="#FF0000"><div align="center"><span class="style6">Predicted Ad Click Fraud Detection Type</span> <span class="style4">::</span> </div></td>



                                      <td width="281" bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" ><div align="center">----{{objs}}----</div></td></tr>
                      </table>



                            </div>




						</fieldset>
					</form>
				</div>

				<div class="col-md-2">
					<!-------null------>
				</div>
            </div>
        </div>
    </div>
{% endblock %}
    <tr>